<!-- Blog Detail wrapper -->
<div class="blog-detail section-gap pt-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 mb-3">
				<div class="thumb-content mb-5 blog-content-p">
          <h2>How we designed and created our brochure?</h2>
          <p>Given that we all have a very busy lifestyle, it often happens that we
            just want a quick overview about a subject. One of the fastest ways
            people find information about things that they do not know, is reading
            a brochure. Our design of brochure has the intention to inform our plan
            of action by sharing our motivation for a project and the reasons for its
            implementation. Several basic sections were established : the introduction,
            background, strategy and outcome.</p>
            <p>The project is clearly explained so readers can folllow a logical
              progression of thought to the conclusion.</p>
              <p>The final objective of the project is mentioned with a detail description of
                the tools we will use to achieve it.</p>
					<div class="row">
            <div class="col-xl-7 my-4"><img class="img-fluid border-rad" alt="blog-detail" src="assets/img/mcmf/other/mockup-mcmf.jpg"></div>
            <h3>Complete, Accurate Information in six different languages</h3>
						<div class="col-xl-5">
							<p>During our first transnational meeting in Greece , we have chosen our
                logo style and decided that our brochure should communicate our
                intention with short sections broken up with a big headline. Each
                partner organisation has introduced a brief description profile to show
                our complementary aspects for the project. We made sure that in our
                brochure people can find things like: organisations names, logos and
                web addresses.</p>
                <p>Once the brochure written in English was revised and approved by each
                  partner, we continued to provide an accurate translation of the
                  brochures in Turc, Hungarian, Croatian, French, Spanish and Greek in
                  order to be distributed in paper version and online .</p>
            </div>
            <div class="col-xl-5">
							<h4>Select your language and download the brochure:</h4>
              <form onsubmit="this.action = document.getElementById('filename').value"  target="_blank">
                <div class="form-group">
                  <select class="form-control" id="filename">
                    <option value="./assets/files/mcmf-leaflet-web - EN.pdf">English</option>
                    <option value="./assets/files/mcmf-leaflet-web - FR.pdf">French</option>
                    <option value="./assets/files/mcmf-leaflet-web - HU.pdf">Hungarian</option>
                    <option value="./assets/files/mcmf-leaflet-web - TR.pdf">Turkish</option>
                  </select>
                  <input type="submit" value="Download" class="btn btn-success mt-3" />
                </div>
            </form>
            </div>
          </div>
			</div>
		</div>
	</div>
</div>