<!-- Blog Detail wrapper -->
<div class="blog-detail section-gap pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="thumb-content mb-5 blog-content-p">
          <p>Our first (1) transnational meeting was held in Larissa of the program "My Cultural Heritage & My Future"
            with the acronym MCMF between 31th of July and 1st of August.</p>
          <p>MCMF is an Erasmus+ KA2 project in the field of Youth, with a duration of 24 months. The purpose of the
            program is the exchange of know-how, methodological approaches, methods, tools and non-formal learning
            techniques that each organization has developed in the field of cultural heritage and its contribution to
            creating employment opportunities for young people.</p>
          <p>Through events, trainings, workshops, conferences, textbooks, academic work, awareness actions, and a
            European platform, the project will have a direct impact on mapping six (6) different
            local-regional-national cultural heritage and heritage opportunities for young people to seek employment
            opportunities through common European cultural contexts.</p>
          <div class="row">
            <div class="col-xl-7 my-4"><img class="img-fluid border-rad" alt="blog-detail"
                src="assets/img/mcmf/other/first-meeting.jpg"></div>
            <div class="col-xl-5">
              <p>By promoting the means of protection and utilization of the dimensions of cultural heritage (tangible,
                intangible, digital, physical), the program assists in the initiatives of the European Year of Cultural
                Heritage 2018 to create our solid, cross-sectoral and holistic basis of cultural heritage.
              </p>
              <p>The consortium consists of six (6) organizations from Spain, France, Croatia, Hungary, Turkey and
                Greece, which operate in their countries in local, regional and / or national context, while the next
                planned action is the implementation of an L / T / T activity in the city of Rijeka, Croatia, which is
                also the European Capital for the year 2020.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>