<div class="section-gap">
    <div class="container">
       <div class="section-title-wrapper mb-5">
          <div class="row">
             <div class="col-sm-12 col-md-9 mx-auto text-center">
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card border-0 text-center">
            <h2>The Tamborrada of Donostia a drum festival in Spain</h2>
             </div>
             <div class="">
               <p>The Tamborrada of Donostia, a festive drum festival held
                every year on January 20 in the city of San Sebastián, Spain.
                Its origins date back to the War of Independence around
                1813, when Napoleon&#39;s troops invaded San Sebastian.
                During the French occupation, women went to collect water at
                one of the city&#39;s two fountains. No one knows where the idea
                came from, but suddenly the women started playing music
                with their jugs on the way to the fountains to fool the soldiers
                in their daily procession.</p>
                <p>The festival lasts for 24 hours. Participants, dressed as cooks
                    and soldiers, march in companies across the city. The
                    celebration ends at midnight, when people congregate at the
                    Konstituzio Plaza and the city flag is simultaneously lowered
                    at various locations.</p>
             </div>
          </div>
       </div>
    </div>
 </div>